<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to URL shortner</h1>

    <% if (locals.id) { %>
    <p>URL Generated: http://localhost:8001/url/<%= id %></p>
    <% } %>

    <div>
      <form method="post" action="/url" id="generateURL">
        <label> Enter Original URL: </label>
        <input
          type="text"
          name="originalUrl"
          placeholder="https://example.com"
        />
        <button type="submit">Generate</button>
      </form>
    </div>

    <% if (locals.urls) { %>

    <br />
    <br />
    <div>
      <table>
        <thead>
          <th>S. No.</th>
          <th>Original URL</th>
          <th>Shortened Link</th>
          <th>Number of times clicked</th>
        </thead>
        <tbody>
          <% urls.forEach((element, index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= element?.originalLink %></td>
            <td>http://localhost:8001/url/<%= element?.shortLink %></td>
            <td><%= element?.visitHistory.length%></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <% } %>

    <script>
      // Add an event listener for the 'beforeunload' event
      window.addEventListener("beforeunload", function () {
        // Get the form element
        var form = document.getElementById("generateURL");
        // Reset the form
        form.reset();
      });
    </script>
  </body>
</html>
